@model IEnumerable<Estoque.Domain.Entities.Solicitacao>

@{
    ViewData["Title"] = "Lista de Equipamentos";
}

@if (ViewBag.Erro != null)
{
    <h4>@ViewBag.Erro</h4>
}

<form>
    <h1>Lista de Equipamentos</h1>

    <p>
         <input type="submit" value="Cadastrar Novo" class="btn btn-success" asp-action="Create" asp-controller="MaquinaSolicitada"/>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Id da Solicitação</th>
                <th>Nome do Equipamento</th>
                <th>Quantidade Solicitada</th>
                <th>Nome do Solicitante</th>
                <th>Concluída</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.IdSolicitacao)</td>
                    <td>@Html.DisplayFor(modelItem => item.NomeEquipamento)</td>
                    <td>@Html.DisplayFor(modelItem => item.QtdSolicitada)</td>
                    <td>@Html.DisplayFor(modelItem => item.NomeSolicitante)</td>
                    <td>@Html.CheckBoxFor(modelItem => item.Concluida)</td>
                    <td>
                        <input type="submit" value="Editar Dados" class="btn btn-warning" asp-action="Edit" asp-controller="MaquinaSolicitada" asp-route-id="@item.IdSolicitacao"/> |
                        <input type="submit" value="Deletar Dados" class="btn btn-danger" asp-action="Delete" asp-controller="MaquinaSolicitada" asp-route-id="@item.IdSolicitacao"/>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>