@model Estoque.Domain.Entities.Equipamento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@if(ViewBag.Erro != null)
{
    <h4>@ViewBag.Erro</h4>
}

<div>
    <h4>Equipamento</h4>
    <hr />
    <dl class=row>
        <dt class=col-sm-2>Id</dt>
        <dd class=col-sm-10>@Html.DisplayFor(model => model.Id)</dd>

        <dt class=col-sm-2>Nome</dt>
        <dd class=col-sm-10>@Html.DisplayFor(model => model.Nome)</dd>

        <dt class=col-sm-2>Quantidade em Estoque</dt>
        <dd class=col-sm-10>@Html.DisplayFor(model => model.QtdEstoque)</dd>

        <dt class=col-sm-2>Quantidade Total</dt>
        <dd class=col-sm-10>@Html.DisplayFor(model => model.QtdTotal)</dd>

        <dt class=col-sm-2>Site</dt>
        <dd class=col-sm-10>@Html.DisplayFor(model => model.Site)</dd>
    </dl>
</div>
<div>
    <a asp-action=Edit asp-route-id=@Model?.Id>Editar Dados</a> | 
    <a class="btn btn-primary" asp-action=Index asp-controller=Equipamento>Voltar Para a Lista</a>
</div>